.nav-middle {
  height: 33vh;

  a {
    color: #fff;
  }

  ul {
    li {
      text-transform: uppercase;
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center;
      color: #fff;
    }
  }
}